/* body{
    width: 500px;
    padding: auto;
}
.buttun{
    padding: 10px;
}
.button_cover{
    display: flex;
    justify-content:center;
    margin-top:25px;
 
} */

body{
    font-family: Verdana;
    text-align: center;
}
#buttun1{
    font-size: 3em;
    padding:5px 25px;
    border-radius: 5px;
}
#h1{
    font-size: 3em;
}